
# BEGIN BackUpWordPress
# Este arquivo .htaccess garante que nenhuma outra pessoa consiga fazer o download dos seus arquivos de backup.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=2e35440bc5eb08763329f73991e4ef82
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress